html {
    height: 100%;
}


body {
    min-height: 100%;
    background-color: black;
}


/*ul {*/
    /*list-style-type: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*width: 25%;*/
    /*background-color: #f1f1f1;*/
    /*height: 100%; !* Full height *!*/
    /*position: fixed; !* Make it stick, even on scroll *!*/
    /*overflow: auto; !* Enable scrolling if the sidenav has too much content *!*/
/*}*/

.jscolor {
    margin-left: 10%;
    margin-right: 10%;
    width:80%;
    text-align: center;
}
.slider {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
    background: #939393;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #FFFFFF;
    background: #FFFFFF;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
    /*margin-top: 20px;*/
}
#sideBarFractal.w3-sidebar {
    width:25%;
    right:0;
    margin:0;
    top:0;
    padding-top: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color:DodgerBlue;

}

.dropdown:hover .dropdown-content {
    display: block;
}
.w3-container {
    padding: 0;
}
.w3-sidebar p {
    text-align: center;
}
#iterations.inputSize {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    align: "right";
    text-align: right;
}
#fractal_dropdown.w3-select {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    align-content: center;
    margin-bottom: 20px;
    text-align: center;
}
#canvasContainer.w3-container{
    height: 100%;
    width: 75%;
}

#xQuantity.inputSize {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    align: "right";
    text-align: right;
}
#inputs.w3-row{
    margin-bottom: 10px;
}
#sideBarWiki.w3-sidebar {
    width:20%;
    right:0;
    margin:0;
    top:0;
    padding-top:10%;
}
/*#sideBarWiki.w3-button {*/
    /*padding-left: 5%;*/
/*}*/
#buttonTest1.w3-button{
    padding-left: 5%;
}
#buttonTest2.w3-button{
    padding-left: 5%;

}
#buttonTest3.w3-button{
    padding-left:5%;
    font-size: 1em;

}
#buttonTest4.w3-button{
    padding-left: 5%;
}
#buttonTest5.w3-button{
    padding-left: 5%;
}
#yQuantity.inputSize {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    align: "right";
    text-align: right;
}
#wikiExplain.w3-container{
    margin: 5%;
    margin-top: 0;

}
#wikiContainer.w3-container {
    height: 100%;
    width: 80%;
    align: right;
}
#photoCard.w3-card{
    margin: 5%;
    padding: 5%;
    width: 90%;
}

#singleCard.w3-card{
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 5%;
    width: 70%;

}
#wikiButtonContainer.w3-container{
    margin-bottom:5%;

}
img.singleImg{
    width: 80%;
    height: auto;
    padding: 0;
}
img.multiImg{
    width: 100%;
    height: auto;

}

#frame {
    max-width:620px;
    width:80%;
    border:1px solid #ccc;
    background:#fff;
    padding:10px;
    margin:0 auto;

}
h1.question {
    font:normal bold 2em/1.8em"Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align:center;
    border-bottom:1px solid #999;
    padding:0;
    width:auto
}
h2.question {
    font:italic bold 1.3em/1.2em"Helvetica Neue", Helvetica, Arial, sans-serif;
    padding:0;
    text-align:center;
    margin:20px 0;
}
p.pager {
    margin:5px 0 5px;
    font:bold 1em/1em"Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#999;
}
img.question-image {
    display:block;
    max-width:250px;
    margin:10px auto;
    border:1px solid #ccc;
    width:100%;
    height:auto;
}
#choice-block {
    display:block;
    list-style:none;
    margin:0;
    padding:0;
}
#submitbutton {
    background:#CD919E;
}
#submitbutton:hover {
    background:#EBD3D8;
}
#explanation {
    margin:0 auto;
    padding:20px;
    width:75%;
}
.choice-box {
    display:block;
    text-align:center;
    margin:8px auto;
    padding:10px 0;
    border:1px solid #666;
    cursor:pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#teamContainer.w3-container {
    width: 90%;
    padding: 5%;
    margin-right: 5%;
    margin-left: 5%;

}
body.homePage {
    background: url(img/tree_fractal.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}